{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-sql",
    "prettier-plugin-embed"
  ],
  "arrowParens": "always",
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": ["^@zk-dashboard/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "embeddedSqlTags": ["sql"],
  "language": "postgresql"
}
