# Etherscan API key https://docs.etherscan.io/getting-started/viewing-api-usage-statistics
ETHERSCAN_API_KEY=

# URL to connect to Postgres database
POSTGRES_URL=postgres://postgres:postgres@localhost:5432